# High-level config
ankifier_config:
  mongodb_name: ankifier # Mongo database - same as for `import_data.sh`
  deepl_api_key: DEEPL_API_KEY # Your DeepL API key

# One config for each language you want to generate cards for. 
language_configs:
  - russian: # Should match what you pass for 
      wiktionary_collection: ru_wiktionary # The collection where you've saved a Wiktionary export using `import_data.sh`. 
      card_collection: ru_cards # The collection where Anki cards for this language should be saved
      word_settings: language_configs/russian.yaml # Language-level config
      spacy_model: ru_core_news_sm # SpaCy model for this language (https://spacy.io/models)